@theme {
  --shadow-2xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-xs: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-md: 0px 2px 6px -2px rgba(0, 0, 0, 0.1), 0px 4px 10px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0px 27px 27px 0px rgba(0, 0, 0, 0.09), 0px 168px 47px 0px rgba(0, 0, 0, 0);
  --shadow-2xl: 0px 60px 36px 0px rgba(0, 0, 0, 0.05), 0px 168px 47px 0px rgba(0, 0, 0, 0);
  --shadow-none: 0 0 #0000;
}
